<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      CRP | Megalith Participation 2022 | The Annual Fest of Civil Engineering |
      IIT Kharagpur
    </title>
    <meta
      name="title"
      content="College Representative Program | Megalith 2022 IIT Kharagpur"
    />
    <meta
      name="description"
      content="The Annual Tech-fest of Civil Engineering Department"
    />
    <meta content="" name="keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="images/megalogotheme.png" />
    <title>Megalith 2023</title>

    <link rel="stylesheet" href="coming_soon.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>

    <link rel="stylesheet" type="text/css" href="header_footer.css" />
    <link rel="stylesheet" type="text/css" href="footer.css" />
    <link rel="stylesheet" type="text/css" href="contactus.css" />
    <link rel="stylesheet" type="text/css" href="buttons.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
  </head>
  <body>
    <!-- about -->

    <!-- end about -->

    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <a class="navbar-brand navbar-logo" href="#">
        <img style="width: 12%; padding: 0%" src="./home/l.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/event">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/workshop">Workshop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sponsors">Sponsors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/theme">Theme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <header class="mip-header">
      <div class="left">
    <div class="left-header">
      <a href="http://localhost:3000/coomingsoon" class="logo"><img src="megalogotheme.png">
      Megalith<span>'23</span></a>
    </div>
    <nav class="navbar">
      <a href="http://localhost:3000/">home</a>
      <a href="#brochure_btn">Internship Brochure</a>
      <a href="https://2022.megalith.co.in/">Go to Megalith 2022</a>
    </nav>
      </div>

    <div class="icons">
      <div id="menu-btn" class="fas fa-bars"></div>
      <a href="http://localhost:3000/login"><div id="login-btn" class="fas fa-user"></div></a>
    </div>
  </header> -->

    <section class="wrapper">
      <div class="container">
        <div id="scene" class="scene" data-hover-only="false">
          <div class="circle" data-depth="1.2"></div>

          <div class="one" data-depth="0.9">
            <div class="content">
              <span class="piece"></span>
              <span class="piece"></span>
              <span class="piece"></span>
            </div>
          </div>

          <div class="two" data-depth="0.60">
            <div class="content">
              <span class="piece"></span>
              <span class="piece"></span>
              <span class="piece"></span>
            </div>
          </div>

          <div class="three" data-depth="0.40">
            <div class="content">
              <span class="piece"></span>
              <span class="piece"></span>
              <span class="piece"></span>
            </div>
          </div>

          <p class="p404" data-depth="0.50">Coming Soon</p>
          <p class="p404" data-depth="0.10">Coming Soon</p>
        </div>

        <div class="text">
          <article>
            <p>Megalith 2023</p>
          </article>
        </div>
      </div>
    </section>

    <script src="coming_soon.js"></script>
    <script type="script.js"></script>
    <script src="navindex.js"></script>
  </body>
</html>
