</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>CRP | Megalith Participation 2022 | The Annual Fest of Civil Engineering | IIT Kharagpur </title>
    <meta name="title" content="College Representative Program | Megalith 2022 IIT Kharagpur">
    <meta name="description" content="The Annual Tech-fest of Civil Engineering Department">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="megalogotheme.png">
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <link rel="stylesheet"  href="register.css">
    <link rel="stylesheet" href="buttons.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="contactus.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Slider Form</title>
</head>
<body>
 
  <nav style="position: absolute;" class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Megalith '23</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/)">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/event">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workshop">Workshop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sponsors">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/theme">Theme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Register</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- ============================================================================================ -->

<footer class="footer">
    <div class="footer-container">
      <div class="footer-row">

        <div class="contactus-wrapper">
          <div class="contactus-container">
            <form class="contactus" action="/contactus" method="POST">
              <h1>Let Us know, What's in your Head.</h1>
              <div class="item name_email">
                <input class="emailtext" type="text" name="sendername" placeholder="Your name" required>
                <input class="emailtext" type="email" name="senderemail" placeholder="Email" required>
              </div>
              <div class="item">
                <input class="emailtext" type="text" name="sendersubject" placeholder="Subject" required>
              </div>
              <div class="item">
                <textarea class="emailtext" name="sendermessage" placeholder="Message" required></textarea>
              </div>
              <div class="contactusbtn"><button class="regbtn regbtn__new" type="submit">Send</button>
              </div>
            </form>
            
          </div>
        <div class="footer-div">
          <div class="footer-div-1">
        <div class="footer-col">
          <h4>Megalith 2023</h4>
          <img src="megalogotheme.png">
          <ul>
            <li><a href="Megalith_Internship_Brochure.pdf">Internship Brochure</a></li>
            <li><a href="/comingsoon">Megalith 2023</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Follow Us</h4>
          <div class="social-links">
            <a href="https://www.facebook.com/megalithkgp"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/megalithkgp"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/iitkgp.megalith/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/megalith-iit-kharagpur/mycompany/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        </div>

        <div class="footer-col">
          <h4>Contact Us</h4>
          <div class="contact-number">
            <ul>                       
              <li><a style="color: aliceblue;">Utkarsh Gupta +917894015456</a></li>
              <li><a style="color: aliceblue;">Mohammad Shoaib +918520864240</a></li>
              <li><a style="color: aliceblue;">Debabrata Sarkar +919674941887</a></li>
            </ul>
          </div>
        </div>
      </div>
    
            
      </div>
    </div>
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
    <script src="contactus.js"></script>
</body>

</html>
