</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>CRP | Megalith Participation 2022 | The Annual Fest of Civil Engineering | IIT Kharagpur </title>
    <meta name="title" content="College Representative Program | Megalith 2022 IIT Kharagpur">
    <meta name="description" content="The Annual Tech-fest of Civil Engineering Department">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="megalogotheme.png">
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <link rel="stylesheet"  href="register.css">
    <link rel="stylesheet" href="buttons.css">
    <!-- <link rel="stylesheet" href="navbar.css"> -->
    <link rel="stylesheet" href="contactus.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Slider Form</title>
</head>

<body>
	<nav style="position: absolute;" class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Megalith '23</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/event">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workshop">Workshop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sponsors">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/theme">Theme</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/signup">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

    <!-- ==================================================================================== -->


    <div class="container " id="container">
        <div class="form-container sign-up-container">
            <!-- <form action="" method="POST">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" required />
                <br>
                <label for="password">Confirm Password</label>
                <input type="password" name="password2" id="password2" required />
                <br>
                <button id="submit" type="submit">Submit</button>
            </form> -->
            <form action="" method="POST" class="pure-form">
              <fieldset>
                <h1>Reset Password</h1>
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" required>
                <label for="password">Confirm Password</label>
                <input type="password" name="password2" id="confirm_password" required>
                <button type="submit" id="submit" class="pure-button pure-button-primary">Confirm</button>
              </fieldset>
          </form>
        </div>
    </div>
  <script>
      var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
  </script>
    

<!-- ============================================================================================ -->

<script src="resetpassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

</body>

</html>
