<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sponsors.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="navbar.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.8/vue.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />

    <title>Sponsors</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <a class="navbar-brand navbar-logo" href="#">Megalith '23</a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/"
              >Home</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/event"
              >Events</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/workshop"
              >Workshop</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sponsors"
              >Sponsors</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team"
              >Team</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/theme"
              >Theme</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="sidebar">
    <ul>
    <li onclick="display2023()"> <a href="#"> 2023 </a>
    <li  onclick="display2022()"> <a href="#"> 2022 </a>
    <li  onclick="display2021()"> <a href="#"> 2021 </a>
    </ul>
    </div>
    
      <div class="wrapper">
        <div class="scroll-down">
          <div class="scroll-down-text">SCROLL DOWN</div>
          <div class="scroll-down-bar"></div>
        </div>
        <!-- <section id="category-container">
          <div class='img-container'>
            <i class='icon orange' data-feather="code"></i>
            <p>2020</p>
          </div>
          <div class='img-container' onclick="display2021()">
            <i class='icon blue' data-feather="droplet"></i>
            <p>2021</p>
          </div>
          <div class='img-container' onclick="display2022()">
            <i class='icon red' data-feather="heart"></i>
            <p>2022</p>
          </div>
          <div class='img-container'>
            <i class='icon purple' data-feather="shield"></i>
            <p>2023</p>
          </div>
          
        </section> -->
      
        <video autoplay muted loop id="myVideo">
            <source src="full-vid.mp4" type="video/mp4">
            </video>
    
    <div id="2022spn" class="spn-2022">
      <div class="heading" style="justify-content: center; align-items: center;">
        <h1 style="color: white;display: flex;justify-content: center;">2022 Sponsors</h1>
      </div>
    <div class="block animatable bounceInLeft container">
      <h1>Title Sponsor</h1>

        <div class="card">
            <img src="2022spn/sksamanta.jpeg">
            <div class="content">
              <h2>Sksamanta</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>
    </div>
    <div class="block animatable bounceInLeft container">
      <h1>Platinum Sponsor</h1>
        <div class="card">
            <img src="2022spn/fosroc.jpg">
            <div class="content">
              <h2>Fosroc</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>
    </div>
    <div class="block animatable bounceInLeft container">
      <h1>Events Sponsor</h1>
        <div class="card">
            <img src="2022spn/enkebee.jpeg">
            <div class="content">
              <h2>Enkebee</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>
    </div>
    
    <div class="block animatable bounceInLeft container">
      <h1>Youth Partners</h1>
        <div class="card">
            <img src="2022spn/campustimespune.jpeg">
            <div class="content">
              <h2>Campus Times Pune</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>

          <div class="card">
            <img src="2022spn/theeducationtree.jpeg">
            <div class="content">
              <h2>The Eductation Tree</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>

          <div class="card">
            <img src="2022spn/youthincorporated.jpeg">
            <div class="content">
              <h2>Youth Incorporated</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>
    </div>
    <div class="block animatable bounceInLeft container">
      <h1>Merchandise Partner</h1>
        <div class="card">
            <img src="2022spn/campusmemories.jpeg">
            <div class="content">
              <h2>Campus Memories</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>
    </div>
    <div class="block animatable bounceInLeft container">
      <h1>Newspaper Partners</h1>
        <div class="card">
            <img src="2022spn/thestatesman.jpeg">
            <div class="content">
              <h2>The Statesman</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>

          <div class="card">
            <img src="2022spn/indiablooms.jpg">
            <div class="content">
              <h2>Indiablooms</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>

          <div class="card">
            <img src="2022spn/aapkatimes.jpeg">
            <div class="content">
              <h2>Aapka Times</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>
    </div>
    
    <div class="block animatable bounceInLeft container">
      <h1>Online Media Partners</h1>
        <div class="card">
            <img src="2022spn/indiacollegefest.jpeg">
            <div class="content">
              <h2>IndiaCollegeFest</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>

          <div class="card">
            <img src="2022spn/knowafest.jpg">
            <div class="content">
              <h2>Knowafest</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>

          <div class="card">
            <img src="2022spn/ohcampus.jpeg">
            <div class="content">
              <h2>Ohcampus</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>
    </div>
    
    <div class="block animatable bounceInLeft container">
      <h1>Ticketing Partner</h1>
        <div class="card">
            <img src="2022spn/meraevents.jpeg">
            <div class="content">
              <h2>Mera Events</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              <a href="#">Know More</a>
            </div>
          </div>
    </div>
    
    <div class="block animatable bounceInLeft container">
      <h1>Coupon Partner</h1>
      <div class="card">
        <img src="2022spn/grabon.jpeg">
        <div class="content">
          <h2>Grabon</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="#">Know More</a>
        </div>
      </div>
    </div>

    <div class="block animatable bounceInLeft container">
      <h1>Exclusive Radio Partner</h1>
      <div class="card">
        <img src="2022spn/friendsfm.jpeg">
        <div class="content">
          <h2>FriendsFm</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="#">Know More</a>
        </div>
      </div>
    </div>

    <div class="block animatable bounceInLeft container">
      <h1>Training Partner</h1>
      <div class="card">
        <img src="2022spn/civilshala.jpg">
        <div class="content">
          <h2>Civil Shala</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="#">Know More</a>
        </div>
      </div>
    </div>
    
    <div class="block animatable bounceInLeft container">
      <h1>Education Partner</h1>
      <div class="card">
        <img src="2022spn/madeeasy.jpeg">
        <div class="content">
          <h2>MadeEasy</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="#">Know More</a>
        </div>
      </div>
    </div>

    </div>

    <!-- 2021 sponsors -->

    <div id="2021spn" class="spn-2021">

      <div class="heading" style="justify-content: center; align-items: center;">
        <h1 style="color: white;display: flex;justify-content: center;">2021 Sponsors</h1>
      </div>
      <div class="block animatable bounceInLeft container">
        <div class="card-title">
          <h1>Title Sponsor</h1>
        </div>
          <div class="card">
              <img src="2021spn/sksamanta.jpeg">
              <div class="content">
                <h2>Sksamanta</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#">Know More</a>
              </div>
            </div>
      </div>
      
      <div class="block animatable bounceInLeft container">
        <h1>Events Sponsor</h1>
          <div class="card">
              <img src="2021spn/enkebee.jpeg">
              <div class="content">
                <h2>Enkebee</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#">Know More</a>
              </div>
            </div>
      </div>

      <div class="block animatable bounceInLeft container">
        <h1>Workshop Sponsor</h1>
          <div class="card">
              <img src="2021spn/greentree.jpeg">
              <div class="content">
                <h2>GreenTree</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#">Know More</a>
              </div>
            </div>

            <div class="card">
              <img src="2021spn/protrainy.jpeg">
              <div class="content">
                <h2>Protrainy</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#">Know More</a>
              </div>
            </div>
      </div>
      
      <div class="block animatable bounceInLeft container">
        <h1>Social Media Partner</h1>
          <div class="card">
              <img src="2021spn/constructorsfeed.jpeg">
              <div class="content">
                <h2>ConstrcutorsFeed</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#">Know More</a>
              </div>
            </div>
      </div>

      <div class="block animatable bounceInLeft container">
        <h1>Messaging Partner</h1>
          <div class="card">
              <img src="2021spn/smsflight.jpeg">
              <div class="content">
                <h2>SMS Flight</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#">Know More</a>
              </div>
            </div>
      </div>
      
      <div class="block animatable bounceInLeft container">
        <h1>Ticketing Partner</h1>
          <div class="card">
              <img src="2021spn/meraevents.jpeg">
              <div class="content">
                <h2>Mera Events</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#">Know More</a>
              </div>
            </div>
      </div>
  
      <div class="block animatable bounceInLeft container">
        <h1>Radio Partner</h1>
        <div class="card">
          <img src="2021spn/friendsfm.jpeg">
          <div class="content">
            <h2>FriendsFm</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <a href="#">Know More</a>
          </div>
        </div>
      </div>
  
  
      </div>


      <!-- 2023 Sponsor -->
      <div id="2023spn" class="spn-2023">
        <div class="heading" style="justify-content: center; align-items: center;">
          <h1 style="color: white;display: flex;justify-content: center;">Coming Soon</h1>
        </div>
        <!-- <div>
          <h1 style="color: white;">Coming Soon</h1>
        </div> -->
        <!-- <div class="block animatable bounceInLeft container">
          <h1>Coming Soon</h1>
            
        </div> -->

      </div>
    <!-- <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>
    
    <div class="block animatable moveUp">moveUp</div>
    
    <div class="block animatable fadeBgColor">fadeBgColor</div>
    
    
    
    
    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>
    
    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>
    
    <div class="block animatable moveUp">moveUp</div>
    
    <div class="block animatable fadeBgColor">fadeBgColor</div>
    
    
    
    
    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>
    
    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>
    
    <div class="block animatable moveUp">moveUp</div>
    
    <div class="block animatable fadeBgColor">fadeBgColor</div>
    
    
    
    
    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>
    
    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>
    
    <div class="block animatable moveUp">moveUp</div>
    
    <div class="block animatable fadeBgColor">fadeBgColor</div>
    
    
    
    
    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>
    
    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>
    
    <div class="block animatable moveUp">moveUp</div>
    
    <div class="block animatable fadeBgColor">fadeBgColor</div> -->
    
  </div>
  <script src="sponsors.js"></script>
</body>
</html>