<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ourteam.css">
    <link rel="stylesheet" href="buttonourteam.css">
    <script src="https://kit.fontawesome.com/0d5b5086fb.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <div class="ourteam">
        <button class="glow-on-hover leftalign hodb">Head of Department</button>
        <button class="glow-on-hover rightalign chairmanb">Chairman</button>
        <button class="glow-on-hover leftalign vicepresidentb">Vice-President</button>
        <button class="glow-on-hover rightalign treasurerb">Treasurer</button>
        <button class="glow-on-hover leftalign executiveb">Executive Advisor</button>
        <button class="glow-on-hover rightalign coordinatorb">Coordinator</button>
        <button class="glow-on-hover leftalign webb">Web Team</button>
        <button class="glow-on-hover rightalign designb">Design Team</button>
        <button class="glow-on-hover leftalign publicityb">Publicity Team</button>
        <button class="glow-on-hover rightalign eventb">Events Team</button>
        <button class="glow-on-hover leftalign sponsb">Sponsorship and Marketing Team</button>
        <button class="glow-on-hover rightalign logisticb">Logistics Team</button>
    </div>
    <div class="teamcontainer">
        <div id="hodm" class="modal ">
            <p>this is Head of Department</p>
        </div>
        <div id="chairmanm" class="modal chairmanm">
            <p>this is Chairman</p>
        </div>
        <div id="vicepresidentm" class="modal vicepresidentm">
            <p>this is Vice-President</p>
        </div>
        <div id="treasurerm" class="modal treasurerm">
            <p>this is Treasurer</p>
        </div>
        <div id="executivem" class="modal executivem">
            <p>this is Executive Advisor</p>
        </div>
        <div id="coordinatorm" class="modal coordinatorm">
            <div class="slider">
                <div class="slide-track slide-trackct">
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="slide-track slide-trackcb">
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://i.ibb.co/DfbLcN1/photo-1426901013385-803d40bd5558.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="webm" class="modal webm">
            <div class="slider">
                <div class="slide-track slide-trackwt">
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
            
                    <!-- ================================================ -->
        
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="slide-track slide-trackwb">
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479660656269-197ebb83b540?dpr=2&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=" alt="">  
                    </div>
                    <div class="slide card">
                        <img src="https://images.unsplash.com/photo-1479659929431-4342107adfc1?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
                    </div>
                </div>
            </div>    
        </div>
        <div id="designm" class="modal designm">
            <div class="slider">
                <div class="slide-track slide-trackdt">
                    <div class=" slide card visibledt">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class=" slide card visibledt">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class=" slide card visibledt">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class=" slide card disabledt">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class=" slide card disabledt">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class=" slide card disabledt">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                </div>
            </div>    
            <div class="slider">
                <div class="slide-track slide-trackdb">
                    <div class=" slide card visibledt">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class=" slide card visibledt">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class=" slide card visibledt">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
        
        
                    <!-- ================================================ -->
        
                    <div class=" slide card disabledt">
                        <img src="https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
                    </div>
                    <div class=" slide card disabledt">
                        <img src="https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">  
                    </div>
                    <div class=" slide card disabledt">
                        <img src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">   
                    </div>
                </div>
            </div>    
        </div>
        <div id=" publicitym " class=" modal publicitym ">
    
        </div>
        <div id="eventm" class="modal eventm">
    
        </div>
        <div id="sponsm" class="modal sponsm">
    
        <div id="logisticm" class="modal logisticm">
        
        </div>
    </div>
    <script src="ourteam.js"></script>
</body>
</html>