<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Why This Theme</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
  />
    
	<link rel="stylesheet" href="navbar.css">
  <link rel="stylesheet" href="theme.css">
</head>
<body>
  <header>
  	<img class="toplef-image" src="rangoli.png" alt="rangoli">
	<img class="toprit-image" src="rangoli.png" alt="rangoli">
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#"><img style="width: 12%; padding: 0%;" src="logo52.png" alt="logo"></a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/event"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workshop"
            >Workshop</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sponsors"
            >Sponsors</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team"
            >Team</a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/theme"
            >Theme</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </nav>
  </header>

  <div class="bg-video">
    <video autoplay muted id="myVideo">
      <source src="full-vid.mp4" type="video/mp4">
      </video>
  
  <div class="container">
    
    <div class="main">
        <h1>Why This Theme?</h1>
      Megalith, Indian Institute of Technology, Kharagpur, is back in all its glory with its 15th edition. The theme for this edition is ‘Adwitiya: Essence of Ancient India’. <br>
      This year we delve deep into our roots to explore what makes India truly adwitiya, or matchless. Throughout its history, India has been under the rule of numerous communities from different parts of the world, all of which have left their mark on our heritage, culminating in a vibrant culturally diverse nation. <br>
      <iframe class="video" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fmegalithkgp%2Fvideos%2F5862047157243984%2F&show_text=false&width=560&t=0" width="400" height="214" style="border:none;overflow:hidden; clear: right; float: right"></iframe>

      The effect of the unparalleled diversity that India has, is reflected in the styles and structures of our monuments. From Persian influences from the Mughal empire to Victorian styles under the British Raj, from Nagara style temples in the North to Dravidian style ones in the South, India has it all.<br>
      In present day India there are uncountable different communities who speak different languages, follow different religions, worship different deities and so on. If the treasure trove of culture that India posseses can be embodied in one word, it is ‘Adwitiya’.<br>
      This year, Megalith  pays tribute to our ancestors, through posters, banners and our website. We have posts on our facebook page about several astounding civil engineering marvels of ancient India. Our website embraces the immense cultural diversity in architecture by covering all 28 states, with one monument from each state. 
    </div>
    <div class="second">
      
    </div>
    <div class="third"></div>
  </div>
  </div>
  <script src="theme.js"></script>
</body>
</html>